{% extends "base.html" %}

{% block content %}

<body>

    <h1>Add Payment Method</h1>

    <form action="{{ url_for('customer.add_payment_method') }}" method="POST" autocomplete="off">
        <label for="cardholder_name">Nickname:</label>
        <input class="form-control w-50" type="text" id="nickname" name="nickname"><br>

        <label for="cardholder_name">Cardholder Name:</label>
        <input class="form-control w-50" type="text" id="cardholder_name" name="cardholder_name" required><br>

        <label for="card_number">Card Number:</label>
        <input class="form-control w-50" type="text" id="card_number" name="card_number" inputmode="numeric"
            pattern="\d*" minLength="16" maxlength="16" required>
        <small class="form-text text-muted">16 digit number</small><br><br>

        <label for="expiry_date">Expiry Date (Month/Year):</label>
        <input class="form-control w-50" type="month" id="expiry_date" name="expiry_date" required><br>

        <label for="cvc">CVC:</label>
        <input class="form-control w-50" type="text" id="cvc" name="cvc" inputmode="numeric" pattern="\d*" maxlength="3"
            minlength="" 3 required>
        <small class="form-text text-muted">3 digit number on your card</small>
        <br><br>
        <button class="btn btn-primary" type="submit">Add Payment Method</button>
        <a class="text-center ms-1 px-3 btn btn-secondary" href="{{ url_for('customer.dashboard') }}">Back</a>
    </form>

</body>

{% endblock %}