{% extends "base.html" %}
{% block title %}Payment Menu{% endblock %}

{% block content %}

<div class="container" style="max-width: 600px;">
    <h2 class="mb-4">Choose Payment Method</h2>

    <form method="POST" action="{{ url_for('customer_bills.pay_bill', bill_id=bill_id)}}">

        <!-- Saved Payment Methods -->
        <div class="mb-3">
            <h5>Saved Payment Methods</h5>

            {% for card in payment_methods %}
            <div class="form-check">
                <input type="radio" name="payment_option" value="{{ card.token }}" class="form-check-input">
                <label>
                    {% if card.nickname %}
                    {{ card.nickname }}
                    {% else %}
                    Unnamed card
                    {% endif %} - Ending in {{ card.last_four }} (Expiry:
                    {{ card.expiry_date }})
                </label>
            </div>
            {% endfor %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_option" id="newCard" value="new">
                <label class="form-check-label" for="newCard">
                    Use a new payment method
                </label>
            </div>
        </div>
        <!-- CVC input -->
        <div id="cvcForm" class="mb-3" hidden>
            <label for="cvc-input" class="form-label">CVC:</label>
            <input type="text" class="form-control w-25" id="cvc-input" name="cvc-input" inputmode="numeric"
                maxlength="3" minlength="3">
        </div>
        <!-- New Payment Method Form -->
        <div id="newCardForm" class="border rounded p-3 mb-3" style="display: none;">
            <h5 class="mb-3">Enter New Card</h5>

            <div class="mb-3">
                <label for="cardholder_name" class="form-label">Cardholder Name</label>
                <input type="text" class="new-payment form-control" id="cardholder_name" name="cardholder_name">
            </div>

            <div class="mb-3">
                <label for="card_number" class="form-label">Card Number</label>
                <input type="text" class="new-payment form-control" id="card_number" name="card_number"
                    inputmode="numeric" pattern="\d*" minlength="16" maxlength="16">
                <small class="form-text text-muted">16 digit number</small>
            </div>

            <div class="mb-3">
                <label for="expiry_date" class="form-label">Expiry Date</label>
                <input type="month" class="new-payment form-control" id="expiry_date" name="expiry_date">
            </div>

            <div class="mb-3">
                <label for="cvc" class="form-label">CVC</label>
                <input type="text" class="new-payment form-control" id="cvc" name="cvc" inputmode="numeric"
                    maxlength="3" minlength="3">
                <small class="form-text text-muted">3 digit number on your card</small>
            </div>
        </div>
        <input hidden type="text" value="{{ '%.2f'|format(subtotal * (1 + tax / 100)) }}" name="paid">
        <h5>Amount: ${{ "%.2f"|format(subtotal * (1 + tax / 100)) }}</h5>
        <a href="{{ url_for('customer.dashboard') }}" class="mb-3 btn btn-secondary w-100">Back</a>
        <button disabled type="submit" id="submitButton" class="btn btn-primary w-100">Confirm Payment</button>
    </form>
</div>
<script>
    const newCardRadio = document.getElementById('newCard');
    const newCardForm = document.getElementById('newCardForm');
    const submit = document.getElementById('submitButton')
    const cvcForm = document.getElementById('cvcForm')
    const cvcInput = document.getElementById('cvc-input')
    document.querySelectorAll('input[name="payment_option"]').forEach((radio) => {
        radio.addEventListener('change', () => {
            if (newCardRadio.checked) {
                newCardForm.style.display = 'block';
                document.querySelectorAll('.new-payment').forEach((input) => { input.required = true })
                cvcForm.hidden = true;
                cvcInput.required = false;
            } else {
                newCardForm.style.display = 'none';
                document.querySelectorAll('.new-payment').forEach((input) => { input.required = false })
                cvcForm.hidden = false;
                cvcInput.required = true;
            }
            submit.disabled = false;
        });
    });
</script>
{% endblock %}